/**
 *
 * Font definitions
 *
 * Should contain definitions for all font-families used on the site
 *
 */

/* Fetch default print styles */
@import url("../../../../../profiles/ulf/themes/ulf_default/css/custom-styles.css");

@font-face {
    font-family: 'Asap';
    src: url("../fonts/Asap-Regular.ttf");
    /* Pretty Modern Browsers */ }
@font-face {
    font-family: 'Asap';
    src: url("../fonts/Asap-Bold.ttf");
    /* Pretty Modern Browsers */
    font-weight: bold; }
@font-face {
    font-family: 'Asap';
    src: url("../fonts/Asap-Italic.ttf");
    /* Pretty Modern Browsers */
    font-style: italic; }

body {
    background: white;
    width: 700px;
    color: #3f3f3f;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: none;
    text-shadow: none;
    position: relative;
}

/* Logo display. */
.print-logo {
    background: url("../images/header-bg.jpg");
}

.print-logo img{
    width: 20%;
    padding: 1em;
}

h2 {
    font-size: 1.2em;
    margin: 0 0 10px 0;
}

a {

    color: #00446b;
    text-decoration: none;
}

/* Hide default stuff */

.layout-element-beta,   /* User profile extra courses. */
.print-title,
.print-hr,
.print-site_name,
.print-breadcrumb,
.block--pdf {
    display: none;
}


/* Layout */

.content {
    position: relative;
    width: 700px;
}

.content--image {
    padding-bottom: 30px;
    position: relative;
    width: 100%;
}

/*.field--image img{*/
/*    border-bottom: 5px solid #00446b;*/
/*}*/

/*.is-dagtilbud  .field--image img{*/
/*    border-bottom: 5px solid #aec000;*/
/*}*/

/*.is-grundskole .field--image img {*/
/*    border-bottom: 5px solid #dc6a02;*/
/*}*/

/*.is-ungdomsuddannelse .field--image img {*/
/*    border-bottom: 5px solid #008d9d;*/
/*}*/

/*.is-course .field--image img {*/
/*    border-bottom: 5px solid #ffcb05;*/
/*}*/

/* Elements */
.field--image img {
    width: 700px;
}

.block--field-logo {
    margin-bottom: 30px;
}

/* Blocks */
.block--light {
    background: #f2f2f2;
    display: block;
    margin-bottom: 10px;
    padding: 20px;
    page-break-inside: avoid;
}

.block--dark {
    background: #d9d9d9;
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    page-break-inside: avoid;
}

.block--dark .is-full-width {
     width: 100%;
 }

.block--dark a {
    display: none;
}

.block--field-wrapper {
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
    padding-bottom: 10px;
    page-break-inside : avoid;
}

.block--field-wrapper:last-child {
    border-bottom: 0;
}

.block--field-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.is-inline {
    overflow: hidden;
}

.is-inline .block--field-label {
    float: left;
    width: 50%;
}

.is-inline .block--field-text {
    float: left;
    width: 50%;
}

.block--field-text {
    margin-bottom: 10px;
}

.block--field-text:last-child {
    margin-bottom: 0;
}

/* Fields */

/* Display of field collections in main content. */
.field--collection-wrapper {
    margin-bottom: 10px;
    page-break-inside : avoid;
}

.field--collection-label {
    color: white;
    background: #00446b;
    padding: 10px;
}

.field--collection-content {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.field--collection-item {
    border-bottom: 1px solid gray;
    padding: 10px;
}

.field--collection-description,
.field--collection-file,
.field--collection-link,
.field--collection-litt {
    display: block;
    margin-bottom: 5px;
    width: 100%;
}

.field--collection-description {
    font-weight: normal;
}

/**
 * World targets
 */
.world-targets {display: inline-block;width: 100% ;height: 100px;padding: 0;}
.world-target {margin: 0;}
.world-target a {display: inline-block;float: left;padding-right: 10px;}
.world-target a img {display: block;height: 100px;width: 100px;}
