/**
 * Global patters.
 *
 * Contains global patterns for use across the site
 *
 */


/* Styles
   ========================================================================== */
%teaser--wrapper {
  @include flexbox;
  @include flex-flow(row nowrap);
  @include align-content(stretch);

  @include flex(0 1 100%);

  min-width: 0; // To allow image shrink.
  box-sizing: border-box;
  position: relative;
  margin-bottom: 2em;
  border: 1px solid $gray-lighter;


  &.is-dagtilbud {
    border-bottom: 6px solid $daycare-color;
  }

  &.is-grundskole {
    border-bottom: 6px solid $school-color;
  }

  &.is-ungdomsuddannelse {
    border-bottom: 6px solid $youth-color;
  }

  &.is-course {
    border-bottom: 6px solid $course-color;
  }

  @include breakpoint($node-breakpoint) {
    @include flex(0 1 49%);
  }

  header {
    @include order(2);
    
    box-sizing: border-box;
    padding: $boxlist-padding $boxlist-padding 0;
    width: 100%;
  }

  figure {
    min-width: 0px; // To allow image shrink.

    @include order(1);
    @include flex(0 0 100px);

    @include breakpoint(500px) {
      @include flex(0 0 200px);
    }
  }
}


%block {
  margin-bottom: $spacing;

  &:last-child {
    margin-bottom: 0;
  }
}


// Header used for content and teasers
%content--header {
  bottom: 0;
  box-sizing: border-box;
  font-size: 1.45em;
  padding: 0 .5em;
  position: absolute;
  width: 100%;
}
